{{#if controller.bulkSelectEnabled}}
<td class='star'>
  <input type="checkbox" class="bulk-select">
</td>
{{/if}}

<td class='main-link clearfix' colspan="{{titleColSpan}}">
  <div class="amazing voting-wrapper">
    <div class="amazing voting">
      {{#if scores}}{{/if}}
      <span class="score">
        ...
      </span>
      <a class="arrow up">
        <svg am-vote="up" version="1.1" xmlns="http://www.w3.org/2000/svg"> <polygon am-vote="up" points="15,10 7.5,0 0,10"/> </svg>
      </a>

      <a class="arrow down">
        <svg am-vote="down" version="1.1" xmlns="http://www.w3.org/2000/svg"> <polygon am-vote="down" points="0,0 15,0 7.5,10"/> </svg>
      </a>
    </div>

    <div class="amazing voting-spacer">
      {{raw "topic-status" topic=topic}}
      {{topic-link topic}}
      {{#if controller.showTopicPostBadges}}
        {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl}}
      {{/if}}
      
      {{#if expandPinned}}
        {{raw "list/topic-excerpt" topic=topic}}
      {{else}}
        {{#if topic.custom_content}}
          <div class='text_except_div'>
            <div class="blah" >
              {{{ topic.custom_content }}}
            </div>
          </div>
        {{/if}}
      {{/if}}

      {{#if topic.custom_image}}
        <div class='image_except_div'>
          <img class='image_excerpt' src='{{{ topic.custom_image }}}'>
        </div>
      {{/if}}

      <div class="topic-categories">
        {{#if topic.category.parentCategory}}
           {{category-link topic.category.parentCategory}} <span class="slash">/</span> 
        {{/if}}
        {{#unless controller.hideCategory}}
          {{#unless topic.isPinnedUncategorized}}
            {{category-link topic.category}}
          {{/unless}}
        {{/unless}}
      </div>

      {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
    </div> 
  </div>
</td>

{{#if controller.showPosters}}
  {{raw "list/posters-column" posters=topic.posters}}
{{/if}}

{{raw "list/posts-count-column" topic=topic}}

{{#if controller.showParticipants}}
  {{raw "list/posters-column" posters=topic.participants}}
{{/if}}

{{#if controller.showLikes}}
<td class="num likes">
  {{#if hasLikes}}
  <a href='{{topic.summaryUrl}}'>
    {{number topic.like_count}} <i class='fa fa-heart'></i></td>
  </a>
  {{/if}}
{{/if}}

{{#if controller.showOpLikes}}
<td class="num likes">
  {{#if hasOpLikes}}
  <a href='{{topic.summaryUrl}}'>
    {{number topic.op_like_count}} <i class='fa fa-heart'></i></td>
  </a>
  {{/if}}
{{/if}}

<td class="num views {{topic.viewsHeat}}">{{number topic.views numberKey="views_long"}}</td>

{{raw "list/activity-column" topic=topic class="num" tagName="td"}}