.amazing {
	&.voting-wrapper {
		position: relative;
	}
	
	&.voting {
		color: #555;
	    font-weight: bold;
	    height: 25px;
	    left: -4px;
	    line-height: 28px;
	    min-height: 28px;
	    min-width: 20px;
	    padding: 5px 25px 4px 8px;
	    position: absolute;
	    top: -3px;

		.arrow {
			height: 11px;
		    overflow: hidden;
		    position: absolute;
		    right: 6px;
		    width: 15px;
			svg {
				fill: #555;
				cursor: pointer;
				&:hover {
					fill: #000;
				}
				&.active {
					fill: #e45735;
					opacity: 1;
					cursor: default;
				}
			}
		}

		.up {
			top: 6px;
		}

		.down {
			top: 21px;
			svg {
				opacity: 0.5;
			}
		}
	}

	&.voting-spacer {
		padding-left: 60px;
	}
}

//No voting for pinned topics and private messages
.has-excerpt, .user-right {
	.amazing {
		&.voting {
			display: none;
		}
		&.voting-spacer {
			padding-left: 0;
		}
	}
}

/* Clickable/Sortable Header Link Color */

.topic-categories {
   clear: both;
}

.topic-list .badge-wrapper span.badge-category {
	color: #caccd0 !important;
	display: inline-block;
    font-size: 0.85em;
    font-weight: normal;
    margin-top: -3px;
    padding: 3px;
    text-transform: uppercase;
    vertical-align: text-top;
}

.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
	border-radius: 50%;
    display: inline-block;
    height: 4px;
    margin-top: 3px;
    padding: 1px;
    vertical-align: top;
    width: 4px;
}

.topic-list span.slash {
    display: inline-block;
    padding: 0 5px;
}

.topic-list .badge-wrapper span.badge-category {
  max-width: none;
  overflow: show;
}
.topic-list .badge-wrapper.bar span.badge-category {
  text-transform: uppercase;
  padding: 3px;
  vertical-align: text-top;
  margin-top: -3px;
  display: inline-block;
  font-weight: normal;
  font-size: 0.850em;
}
